body {
    margin: 0;
    font-family: monospace;
    background: radial-gradient(circle, #050505, #000);
    color: #00ff9f;
}

header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #00ff9f;
}

.controls {
    text-align: center;
    margin: 10px;
}

button {
    position: relative;
    overflow: hidden;
}

button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: #00ff9f;
    left: 0;
    top: 0;
    transition: 0.3s;
    z-index: -1;
}

button:hover::after {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
}

.card {
    border: 1px solid #00ff9f;
    padding: 15px;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 20px #00ff9f33;
    transition: 0.3s;
    backdrop-filter: blur(5px);
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 30px #00ff9f;
}

.logs {
    grid-column: span 2;
}

.map {
    grid-column: span 3;
}

#logs {
    height: 300px;
    overflow-y: auto;
    font-size: 12px;
}

#map {
    height: 300px;
}

.low { color: #00ff9f; }
.medium { color: yellow; }
.high { color: red; }
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        rgba(0,255,150,0.05),
        rgba(0,255,150,0.05) 1px,
        transparent 1px,
        transparent 3px
    );
    pointer-events: none;
    animation: scan 5s linear infinite;
}

@keyframes scan {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}
#criticalAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0.1);
    color: red;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
